# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

[*.ts]
quote_type = single

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.svelte]
quote_type = single

# Go files
[*.go]
indent_style = tab
indent_size = 4

# Go mod and sum files
[go.{mod,sum}]
indent_style = tab
indent_size = 4
