.DS_Store
node_modules
/.svelte-kit
/package
/coverage
*.log
*.swp
/.vercel_build_output
/.vercel
/build-local
/.history
/build
/bin
server/ui-server
server/api
server/ui/assets
/test-results/
/playwright-report/
/playwright/.cache/
/dist
/audits
.idea/
go.work
go.work.sum
