{
  "extends": ["stylelint-config-recommended", "stylelint-config-standard"],
  "processors": [],
  "customSyntax": "postcss-html",
  "ignoreFiles": [
    "node_modules/*",
    "src/assets/**",
    "build/**",
    "server/**",
    "src/lib/vendor/css/normalize.css",
    "src/lib/vendor/prism/prism.css"
  ],
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "tailwind",
          "apply",
          "variants",
          "responsive",
          "screen",
          "function",
          "each",
          "if",
          "else",
          "return",
          "layer"
        ]
      }
    ],
    "custom-property-pattern": null,
    "declaration-block-no-redundant-longhand-properties": [
      true,
      {
        "ignoreShorthands": ["border-radius"]
      }
    ],
    "function-linear-gradient-no-nonstandard-direction": null,
    "keyframes-name-pattern": null,
    "no-descending-specificity": null,
    "selector-class-pattern": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ],
    "value-keyword-case": null
  }
}
