publicPath:
port: 8081
enableUi: true
enableOpenApi: true
cors:
  cookieInsecure: false
  allowOrigins:
    - http://localhost:3000 # used at development by https://github.com/temporalio/ui
refreshInterval: 1m
defaultNamespace: default
showTemporalSystemNamespace: false
feedbackUrl:
notifyOnNewVersion: true
disableWriteActions: false
workflowTerminateDisabled: false
workflowCancelDisabled: false
workflowSignalDisabled: false
workflowResetDisabled: false
batchActionsDisabled: false
hideWorkflowQueryErrors: false
auth:
  enabled: false
  providers:  # only the first is used. second is provided for reference
    - label: Auth0 oidc # for internal use; in future may expose as button text
      type: oidc # for futureproofing; only oidc is supported today
      providerUrl: https://myorg.us.auth0.com/
      issuerUrl: "" # needed if the Issuer Url and the Provider Url are different
      clientId: xxxxxxxxxxxxxxxxxxxx
      clientSecret: xxxxxxxxxxxxxxxxxxxx
      scopes:
        - openid
        - profile
        - email
      callbackUrl: http://localhost:8080/auth/sso/callback
      options: # added as URL query params when redirecting to auth provider
        audience: myorg-dev
        organization: org_xxxxxxxxxxxx
        invitation:
    - label: oidc implicit flow
      type: oidc
      flow: implicit
      # TODO: support optional issuer validation
      authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth  # discovery isn't supported for implicit flow. the endpoint must be provided directly
      clientId: xxxxxxxxxxxxxxxxxxxx
      scopes:
        - openid
        - profile
        - email
tls:
  caFile:
  certFile:
  keyFile:
  caData:
  certData:
  keyData:
  enableHostVerification: false
  serverName:
codec:
  endpoint:
  passAccessToken: false
  includeCredentials: false
forwardHeaders: # can be used to pass additional HTTP headers from HTTP requests to Temporal gRPC backend
  - X-Forwarded-For
