publicPath:
port: 8081
enableUi: true
bannerText:
cors:
  cookieInsecure: false
  allowOrigins:
    - http://localhost:3000 # used at development by https://github.com/temporalio/ui
refreshInterval: 1m
defaultNamespace: default
showTemporalSystemNamespace: false
feedbackUrl:
notifyOnNewVersion: true
disableWriteActions: false
workflowTerminateDisabled: false
workflowCancelDisabled: false
workflowSignalDisabled: false
workflowResetDisabled: false
batchActionsDisabled: false
startWorkflowDisabled: false
hideWorkflowQueryErrors: false
refreshWorkflowCountsDisabled: false
auth:
  enabled: true
  providers:  # only the first is used. second is provided for reference
    - label: oidc implicit flow
      type: oidc
      flow: implicit
      # TODO: support optional issuer validation
      authorizationUrl: https://vault.us1.ddbuild.io/v1/auth/oidc-provider/authorization
      clientId: atlas-staging
      scopes:
        - openid
        - profile
        - email
tls:
  caFile:
  certFile:
  keyFile:
  caData:
  certData:
  keyData:
  enableHostVerification: false
  serverName:
codec:
  endpoint:
  passAccessToken: false
  includeCredentials: false
forwardHeaders: # can be used to pass additional HTTP headers from HTTP requests to Temporal gRPC backend
  - X-Forwarded-For
