publicPath:
port: 8081
enableUi: true
bannerText:
cors:
  cookieInsecure: false
  allowOrigins:
    - "*"
  unsafeAllowAllOrigins: true
refreshInterval: 1m
defaultNamespace: default
showTemporalSystemNamespace: false
feedbackUrl:
notifyOnNewVersion: true
disableWriteActions: false
workflowTerminateDisabled: false
workflowCancelDisabled: false
workflowSignalDisabled: false
workflowUpdateDisabled: false
workflowResetDisabled: false
batchActionsDisabled: false
startWorkflowDisabled: false
hideWorkflowQueryErrors: false
refreshWorkflowCountsDisabled: false
activityCommandsDisabled: false
auth:
  enabled: false
  providers:
    - label: Auth0 oidc # for internal use; in future may expose as button text
      type: oidc # for futureproofing; only oidc is supported today
      providerUrl: https://myorg.us.auth0.com/
      issuerUrl: "" # needed if the Issuer Url and the Provider Url are different
      clientId: xxxxxxxxxxxxxxxxxxxx
      clientSecret: xxxxxxxxxxxxxxxxxxxx
      scopes:
        - openid
        - profile
        - email
      callbackUrl: http://localhost:8080/auth/sso/callback
      options: # added as URL query params when redirecting to auth provider
        audience: myorg-dev
        organization: org_xxxxxxxxxxxx
        invitation:
tls:
  caFile:
  certFile:
  keyFile:
  caData:
  certData:
  keyData:
  enableHostVerification: false
  serverName:
uiServerTLS:
  certFile:
  keyFile:
codec:
  endpoint:
  passAccessToken: false
  includeCredentials: false
  defaultErrorMessage:
  defaultErrorLink:
forwardHeaders: # can be used to pass additional HTTP headers from HTTP requests to Temporal gRPC backend
  - X-Forwarded-For
