@import '@fontsource-variable/inter';

@import '@fontsource/noto-sans-mono';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  *,
  html,
  body {
    box-sizing: border-box;
  }

  body {
    @apply surface-background;
    font-family: theme('fontFamily.primary');
    position: relative;
    overscroll-behavior: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  titles,
  labels {
    font-family: theme('fontFamily.secondary');
  }

  h1 {
    font-size: theme('fontSize.2xl');
    font-weight: theme('fontWeight.medium');

    @media (min-width: theme('screens.md')) {
      font-size: theme('fontSize.3xl');
    }
  }

  input[type='search']::-webkit-search-cancel-button {
    display: none;
  }
}
