@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @font-face {
    font-family: 'Inter';
    src: local('Inter'), local('inter'),
      url('/src/lib/vendor/css/fonts/Inter/Inter-Light.ttf');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    src: local('Inter'), local('inter'),
      url('/src/lib/vendor/css/fonts/Inter/Inter-Regular.ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    src: local('Inter'), local('inter'),
      url('/src/lib/vendor/css/fonts/Inter/Inter-Medium.ttf');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inter';
    src: local('Inter'), local('inter'),
      url('/src/lib/vendor/css/fonts/Inter/Inter-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: 'Poppins';
    src: local('Poppins'), local('poppins'),
      url('/src/lib/vendor/css/fonts/Poppins/Poppins-Light.ttf');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
  }

  @font-face {
    font-family: 'Poppins';
    src: local('Poppins'), local('poppins'),
      url('/src/lib/vendor/css/fonts/Poppins/Poppins-Regular.ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: 'Poppins';
    src: local('Poppins'), local('poppins'),
      url('/src/lib/vendor/css/fonts/Poppins/Poppins-Medium.ttf');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: 'Poppins';
    src: local('Poppins'), local('poppins'),
      url('/src/lib/vendor/css/fonts/Poppins/Poppins-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: 'Noto Sans Mono';
    src: local('Noto Sans Mono'), local('noto sans mono'),
      url('/src/lib/vendor/css/fonts/NotoSansMono/NotoSansMono-VariableFont_wdth\,wght.ttf');
    font-display: swap;
  }

  *,
  html,
  body {
    box-sizing: border-box;
  }

  body {
    font-family: Inter, sans-serif;
    position: relative;
    overscroll-behavior: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  titles,
  labels {
    font-family: Poppins, sans-serif;
  }

  input[type='search']::-webkit-search-cancel-button {
    display: none;
  }
}

@layer components {
  .hljs {
    max-height: 25em;
    overflow-y: scroll;
  }

  .noto {
    font-family: 'Noto Sans Mono', monospace;
  }
}
