*,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4;
}

body {
  overscroll-behavior: none;
  position: relative;
  padding: 1rem;
  white-space: pre-line;
  font-family: sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  padding: 0.375rem 0.75rem;
  border: 1px solid;
  border-color: color-mix(in srgb, currentColor 20%, transparent);
}

th {
  font-weight: 600;
}

th:not([align]),
td:not([align]) {
  text-align: left;
}

ul,
ol {
  white-space: normal;
}

li {
  list-style-position: inside;
}

li > p {
  display: inline;
}

a {
  gap: 0.5rem;
  align-items: center;
  border-radius: 0.25rem;
  max-width: fit-content;
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

blockquote {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.5rem;
  border-left: 4px solid var(--color-io-border-brand);
  background: var(--color-io-surface-code-block);
  color: var(--color-io-content-code-block);

  p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

code {
  padding: 0.125rem 0.375rem;
  border-radius: 0.25rem;
  background: var(--color-io-surface-code-block);
  color: var(--color-io-content-code-block);
  font-family: monospace;
}

pre {
  overflow-x: auto;
  padding: 0.5rem;
  border: 1px solid var(--color-io-border-secondary);
  border-radius: 0.25rem;
  background: var(--color-io-surface-code-block);
  color: var(--color-io-content-code-block);
  font-family: monospace;
  white-space: pre;

  code {
    padding: 0;
    background: none;
    color: inherit;
  }
}

body[data-theme='light'],
body[data-theme='dark'],
body[data-theme='light-primary'],
body[data-theme='dark-primary'] {
  background-color: var(--color-io-surface-primary);
  color: var(--color-io-content-primary);
}

body[data-theme='light-background'],
body[data-theme='dark-background'] {
  background-color: var(--color-io-background-primary);
  color: var(--color-io-content-primary);
}

body[data-theme] a {
  color: var(--color-io-content-brand);
}
