*,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

body {
  overscroll-behavior: none;
  position: relative;
  padding: 1rem;
  white-space: pre-line;
  font-family: sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
ol {
  white-space: normal;
}

li {
  list-style-position: inside;
}

li * {
  display: inline;
}

a {
  gap: 0.5rem;
  align-items: center;
  border-radius: 0.25rem;
  max-width: fit-content;
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

blockquote {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.5rem;
  border-left: 4px solid;
  border-left-color: #92a4c3;
  background: #e8efff;
  color: #121416;
  p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

code {
  font-family: monospace;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: #e8efff;
  color: #121416;
}
body[data-theme='light-background'] code {
  font-family: monospace;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: #e8efff;
  color: #121416;
}
body[data-theme='dark-background'] code {
  font-family: monospace;
  border-radius: 0.25rem;
  background: #292d3e;
  color: #f8fafc;
}
body[data-theme='light-primary'] code {
  font-family: monospace;
  border-radius: 0.25rem;
  background: pink;
  color: #121416;
}
body[data-theme='dark-primary'] code {
  font-family: monospace;
  border-radius: 0.25rem;
  background: #e8efff;
  color: #121416;
}

body[data-theme='light-background'] pre {
  font-family: monospace;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border-color: #aebed9;
  background: #e8efff;
  color: #141414;
}
body[data-theme='dark-background'] pre {
  font-family: monospace;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border-color: #1e293b;
  background: #292d3e;
  color: #f8fafc;
}

body[data-theme='light-primary'] pre {
  font-family: monospace;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: pink;
  color: #121416;
}
body[data-theme='dark-primary'] pre {
  font-family: monospace;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: #e8efff;
  color: #121416;
}
body[data-theme='light-primary'] pre {
  font-family: monospace;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: pink;
  color: #121416;
}
body[data-theme='dark-primary'] pre {
  font-family: monospace;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: #e8efff;
  color: #121416;
}

pre {
  font-family: monospace;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: #e8efff;
  color: #121416;
  code {
    padding: 0;
  }
}

body[data-theme='light'] {
  background-color: #fff;
  color: #121416;
  a {
    color: #444ce7;
  }
}

body[data-theme='dark'] {
  background-color: #141414;
  color: #f8fafc;
  a {
    color: #8098f9;
  }
}

body[data-theme='light-background'] {
  background-color: #f8fafc;
  color: #121416;
  a {
    color: #444ce7;
  }
}

body[data-theme='dark-background'] {
  background-color: #141414;
  color: #f8fafc;
  a {
    color: #8098f9;
  }
}

body[data-theme='light-primary'] {
  background-color: #fff;
  color: #121416;
  a {
    color: #444ce7;
  }
}

body[data-theme='dark-primary'] {
  background-color: #000;
  color: #f8fafc;
  a {
    color: #8098f9;
  }
}

body[data-theme='light-info'] {
  background-color: #e8efff;
  color: #121416;
  a {
    color: #444ce7;
  }
}

body[data-theme='dark-info'] {
  background-color: #000;
  color: #f8fafc;
  a {
    color: #8098f9;
  }
}

body[data-theme='light-details'] {
  background-color: #e0eaff;
  color: #121416;
  a {
    color: #444ce7;
  }
}

body[data-theme='light-details'] pre {
  background-color: #e0eaff;
  color: #121416;
  a {
    color: #444ce7;
  }
}

body[data-theme='dark-details'] {
  background-color: #1a1c4c;
  color: #f8fafc;
  a {
    color: #8098f9;
  }
}

body[data-theme='dark-details'] pre {
  background-color: #141414;
  color: #f8fafc;
  a {
    color: #8098f9;
  }
}
