name: Cypress Tests

on:
  push:
    branches:
      - main
      - '!releases/**'
      - '!npm-*'
  pull_request:
    branches: [main]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup
        uses: pnpm/action-setup@v2.2.2
        with:
          version: 7
      - name: Install dependencies
        run: pnpm install
      - name: Build assets
        run: VITE_MODE=test pnpm run build:local
      - name: Run Cypress tests
        uses: cypress-io/github-action@v2
        with:
          install: false
          start: pnpm run preview:local
          wait-on: 'http://localhost:3000'
          wait-on-timeout: 120
          browser: chrome
          record: true
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          VITE_MODE: test
