name: Playwright
run-name: ${{github.event.pull_request.title}} (${{ github.event.pull_request.number }}) by @${{ github.triggering_actor }} (Attempt ${{ github.run_attempt }})

on:
  push:
    branches: [main]
  pull_request:
    branches: [main, 'codefreeze-*']
    paths-ignore:
      - '**.md'
      - 'LICENSE'
      - 'CODEOWNERS'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  integration-tests:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Checkout and Setup Node
        uses: ./.github/actions/setup-node
      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps
      - name: Run Integration tests
        run: pnpm test:integration
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report-integration
          path: |
            ./playwright-report/
            ./test-results/
          retention-days: 30
  e2e-tests:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Checkout and Setup Node
        uses: ./.github/actions/setup-node
      - name: Build UI
        run: pnpm build:server
      - uses: actions/setup-go@v3
        with:
          go-version-file: server/go.mod
          cache-dependency-path: server/go.sum
          cache: true
          check-latest: true
      - name: Set up Protoc
        uses: arduino/setup-protoc@v3
        with:
          version: '30.x'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build UI Server
        working-directory: server
        run: make build
      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps
      - name: Run E2E tests
        run: pnpm test:e2e
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report-e2e
          path: |
            ./playwright-report/
            ./test-results/
          retention-days: 30
