name: Publish NPM Package

on:
  push:
    branches:
      - main

jobs:
  publish:
    if: github.ref_type == 'branch' && contains(github.ref_name, 'releases/')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup
        uses: pnpm/action-setup@v2.2.2
        with:
          version: 7
      - name: Checkout Release Tag
        run: |
          git fetch --tags
          tag=${{ git describe --tags `git rev-list --tags --max-count=1` }}
          git checkout ${{ tag }}
      - name: Install dependencies
        run: pnpm install
      - name: Build Package
        run: pnpm package
      - name: Publish package to NPM
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        working-directory: ./package
  create_release:
    needs: publish
    if: github.ref_type == 'branch' && contains(github.ref_name, 'releases/')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Create Release
        run: ./.github/scripts/create-release.sh
        env:
          GH_TOKEN: ${{ secrets.TEMPORAL_UI_TOKEN }}
