name: Publish NPM Package

on:
  pull_request:
    types: [closed]

jobs:
  publish:
    if: startsWith(github.head_ref, 'releases/') && github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup PNPM
        uses: pnpm/action-setup@v2.2.2
        with:
          version: 7
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Build Package
        run: pnpm package
      - name: Publish package to NPM
        run: npm publish
        working-directory: ./package
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
  create_release:
    needs: publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Create Release
        run: |
          version=`cat ./package.json | jq -r .version`
          echo "latest version: $version"
          tag="v$version"
          echo "creating release: $tag"
          gh release create $tag --generate-notes
        env:
          GH_TOKEN: ${{ secrets.COMMANDER_DATA_TOKEN }}
