name: Release Drafter

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  update_release_draft:
    permissions:
      contents: write
      pull-requests: write

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Prepare dispatch token
        id: dispatch_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.TEMPORAL_CICD_APP_ID }}
          private-key: ${{ secrets.TEMPORAL_CICD_PRIVATE_KEY }}
          permission-contents: write
          repositories: ${{ vars.DOWNSTREAM_REPO }}

      - name: Trigger ui-server workflow
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ outputs.dispatch_token.outputs.token }}
          repository: ${{ vars.DOWNSTREAM_ORG }}/${{ vars.DOWNSTREAM_REPO }}
          event-type: sync-from-ui-commit
          client-payload: |
            {
              "ref": "${{ github.sha }}",
            }
